*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',serif;
}

body{
    background-color:rgba(138, 81, 252, 1);
}
section{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}


@keyframes logoSite{
0%{
    transform: rotateZ(0deg);
}
50%{
    transform: rotateZ(20deg);
}
80%{
    transform: rotateZ(0deg);
}
100%{
    transform: rotateZ(0deg);
}
}

 .conteinerUm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo-site{
position: relative;
left: -5%;
top: -5rem;
transition: all .5s ease-in-out;
animation-name:logoSite;
animation-duration: 5s;
animation-iteration-count: infinite;
transform: rotateZ(30deg);
}

    .tabela{
        background-color:rgba(244, 244, 244, 1) ;
        margin: 0 16px ;
        width: 500px;
        height: 300px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.215);
        h2{
            text-align: center;
        }
        p{
            text-align: center;
            margin-bottom: 14px;
        }
        table{
        width: 480px;
        border: 1px solid rgba(119, 47, 211, 1);
        border-radius: 8px;
        padding: 2%;
        th{
             cursor: default;
            padding: 2px 1px ;
            white-space: nowrap;
            align-items: center;
            border: 1px solid #777;
            border-radius: 2px;
            color: #555;

                        &:hover{
                transform: scale(1.01);
                color: #1d0e30;
            }
        }
        td{
            text-align: center;
            border-bottom: 1px solid;
            cursor: default;
           
            &:hover{
                transform: scale(1.05);
                color: #1d0e30;
            }
        }
        }
    }


#content{
    background-color: rgba(244, 244, 244, 1);
    width: 400px;
    height: 732px;
    margin: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    .content-text{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 5% 3%;
        margin-top: 20px;
        box-shadow: inset 1px 10px 20px 1px rgba(0, 0, 0, 0.128);
        border-radius: 8px;

        p{
            color: #777;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; 
             margin: 24px 0px 5px 10px;

            span{
            font-weight: 700;
            }
        }

        select, input{
            color: #777;
            padding-left: 10px;
            letter-spacing: 1px;
            border: 1px solid #BBB;
            width: 327px;
            height: 48px;
            border-radius: 10px;
            transition: all .5s ease-in-out;
             appearance: none;
            color: #555;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            &:focus{
               outline: none;
               box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.158);
              
    
          
               
            }
        }
        }

        input{
            margin-bottom: 23px;
        }

        button{
            width: 327px;
            height: 48px;
            border-radius: 5px;
            background: #772FD3;
            border: none;
            box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.219);
            transition: all .5s ease-in-out;

            color: #FFF;
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            
            &:active{
                transform: scale(1.04);
                 background: #702dc7;
            }
        }
        .content-value{
            margin-top: 10px;
            border: 1px solid rgba(119, 47, 211, 1);
            width: 327px;
            height: 276px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .pais{
                color: #777;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
            .dinheiro{
                color: #555;
                font-size: 20px;
                font-weight: 700;
                line-height: 90%;
                margin: 3% 0% 5%;
            }

            
        }
    }
   

